* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 200px 1fr 200px;
  gap: 10px;
}

.header {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  align-content: center;
  background-color: aqua;
}

.nav,
.sider {
  background-color: salmon;
  align-content: center;
}

.holyGrail {
  align-content: center;
  background-color: greenyellow;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-column: 1 / -1;
  gap: 10px;
  text-align: center;
}

.footer {
  text-align: center;
  align-content: center;
  grid-column: 1 / -1;
  background-color: rgb(255, 136, 0);
}
