* {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  margin-left: 30px;
}

.logo {
  margin-left: 30px;
}

h1 {
  font-size: 30px;
}

.navbar {
  background-color: rgb(248, 234, 237);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  display: flex;
  col
}

button {
  width: 100px;
  height: 30px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 15px;
  background-color: ivory;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
  }
  .left-section {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .logo {
    margin: 0px 0px 40px 0px;
  }

  a {
    margin: 0px 20px 0px 20px;
    gap: 20px;
  }

  button {
    margin: 0px 10px 0px 10px;
  }
}
